.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.893555;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.910645;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._7{margin-left:-1.440000px;}
._5{width:1.056000px;}
._f{width:2.160000px;}
._6{width:3.168000px;}
._10{width:4.272000px;}
._3{width:5.856000px;}
._9{width:6.864000px;}
._e{width:8.976000px;}
._14{width:10.848000px;}
._12{width:13.104000px;}
._4{width:14.544000px;}
._8{width:19.968000px;}
._13{width:21.648000px;}
._a{width:36.000000px;}
._15{width:57.936000px;}
._1{width:164.064000px;}
._c{width:246.672000px;}
._11{width:278.688000px;}
._d{width:290.688000px;}
._b{width:305.376000px;}
._2{width:422.688000px;}
._0{width:449.376000px;}
.fc0{color:rgb(0,0,0);}
.fs0{font-size:48.000000px;}
.y20{bottom:10.495000px;}
.y34{bottom:196.549011px;}
.y33{bottom:217.247012px;}
.y32{bottom:256.148035px;}
.y31{bottom:276.846033px;}
.y30{bottom:297.544031px;}
.y2f{bottom:318.242027px;}
.y10{bottom:341.435028px;}
.y43{bottom:358.831024px;}
.y2e{bottom:359.638025px;}
.yf{bottom:362.133026px;}
.y42{bottom:379.529025px;}
.y2d{bottom:380.336021px;}
.ye{bottom:382.831024px;}
.y4e{bottom:395.529022px;}
.yd{bottom:403.529030px;}
.y41{bottom:408.227020px;}
.y4d{bottom:416.227023px;}
.y2c{bottom:421.732019px;}
.yc{bottom:424.227028px;}
.y40{bottom:428.925018px;}
.y2b{bottom:442.430017px;}
.yb{bottom:444.925026px;}
.y3f{bottom:449.623019px;}
.y1d{bottom:452.925018px;}
.y2a{bottom:463.128031px;}
.y4c{bottom:465.623024px;}
.ya{bottom:465.623032px;}
.y3e{bottom:470.321014px;}
.y1c{bottom:473.623016px;}
.y29{bottom:483.826029px;}
.y4b{bottom:486.321022px;}
.y9{bottom:486.321030px;}
.y3d{bottom:491.019015px;}
.y1b{bottom:494.321017px;}
.y28{bottom:504.524027px;}
.y4a{bottom:507.019020px;}
.y3c{bottom:511.717029px;}
.y1a{bottom:523.019031px;}
.y27{bottom:525.222025px;}
.y49{bottom:527.717026px;}
.y3b{bottom:532.415027px;}
.y8{bottom:535.717018px;}
.y19{bottom:543.717029px;}
.y26{bottom:545.920021px;}
.y48{bottom:548.415024px;}
.y7{bottom:556.415024px;}
.y1e{bottom:557.500000px;}
.y3a{bottom:561.113022px;}
.y18{bottom:564.415027px;}
.y47{bottom:569.113025px;}
.y6{bottom:577.113022px;}
.y39{bottom:581.811023px;}
.y17{bottom:585.113025px;}
.y25{bottom:587.316027px;}
.y16{bottom:605.811023px;}
.y24{bottom:608.014025px;}
.y38{bottom:610.509018px;}
.y46{bottom:618.509018px;}
.y15{bottom:626.509021px;}
.y5{bottom:626.509026px;}
.y23{bottom:628.712023px;}
.y37{bottom:631.207024px;}
.y45{bottom:639.207024px;}
.y14{bottom:647.207026px;}
.y22{bottom:649.410025px;}
.y36{bottom:651.905022px;}
.y44{bottom:659.905022px;}
.y13{bottom:667.905025px;}
.y21{bottom:670.108025px;}
.y4{bottom:675.905022px;}
.y12{bottom:688.603023px;}
.y1f{bottom:690.806025px;}
.y3{bottom:696.603020px;}
.y35{bottom:701.301024px;}
.y11{bottom:709.301024px;}
.y2{bottom:717.301025px;}
.y1{bottom:737.999023px;}
.y0{bottom:758.697024px;}
.h4{height:22.698000px;}
.h1{height:32.531250px;}
.h2{height:33.351562px;}
.h5{height:43.396000px;}
.h3{height:130.500000px;}
.h0{height:841.900024px;}
.w1{width:105.000000px;}
.w3{width:129.350006px;}
.w4{width:235.899994px;}
.w2{width:483.700012px;}
.w0{width:595.299988px;}
.x4{left:6.400000px;}
.x0{left:72.000000px;}
.x3{left:80.633000px;}
.x1{left:82.350000px;}
.x7{left:90.000000px;}
.x8{left:108.000000px;}
.x6{left:126.974998px;}
.x9{left:134.301998px;}
.x5{left:198.349998px;}
.x2{left:441.500000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._7{margin-left:-1.920000pt;}
._5{width:1.408000pt;}
._f{width:2.880000pt;}
._6{width:4.224000pt;}
._10{width:5.696000pt;}
._3{width:7.808000pt;}
._9{width:9.152000pt;}
._e{width:11.968000pt;}
._14{width:14.464000pt;}
._12{width:17.472000pt;}
._4{width:19.392000pt;}
._8{width:26.624000pt;}
._13{width:28.864000pt;}
._a{width:48.000000pt;}
._15{width:77.248000pt;}
._1{width:218.752000pt;}
._c{width:328.896000pt;}
._11{width:371.584000pt;}
._d{width:387.584000pt;}
._b{width:407.168000pt;}
._2{width:563.584000pt;}
._0{width:599.168000pt;}
.fs0{font-size:64.000000pt;}
.y20{bottom:13.993333pt;}
.y34{bottom:262.065348pt;}
.y33{bottom:289.662683pt;}
.y32{bottom:341.530713pt;}
.y31{bottom:369.128044pt;}
.y30{bottom:396.725375pt;}
.y2f{bottom:424.322703pt;}
.y10{bottom:455.246704pt;}
.y43{bottom:478.441366pt;}
.y2e{bottom:479.517367pt;}
.yf{bottom:482.844035pt;}
.y42{bottom:506.038700pt;}
.y2d{bottom:507.114695pt;}
.ye{bottom:510.441366pt;}
.y4e{bottom:527.372030pt;}
.yd{bottom:538.038706pt;}
.y41{bottom:544.302694pt;}
.y4d{bottom:554.969364pt;}
.y2c{bottom:562.309359pt;}
.yc{bottom:565.636037pt;}
.y40{bottom:571.900024pt;}
.y2b{bottom:589.906690pt;}
.yb{bottom:593.233368pt;}
.y3f{bottom:599.497359pt;}
.y1d{bottom:603.900024pt;}
.y2a{bottom:617.504041pt;}
.y4c{bottom:620.830699pt;}
.ya{bottom:620.830709pt;}
.y3e{bottom:627.094686pt;}
.y1c{bottom:631.497355pt;}
.y29{bottom:645.101372pt;}
.y4b{bottom:648.428029pt;}
.y9{bottom:648.428040pt;}
.y3d{bottom:654.692020pt;}
.y1b{bottom:659.094690pt;}
.y28{bottom:672.698702pt;}
.y4a{bottom:676.025360pt;}
.y3c{bottom:682.289371pt;}
.y1a{bottom:697.358707pt;}
.y27{bottom:700.296033pt;}
.y49{bottom:703.622701pt;}
.y3b{bottom:709.886702pt;}
.y8{bottom:714.289357pt;}
.y19{bottom:724.956038pt;}
.y26{bottom:727.893361pt;}
.y48{bottom:731.220032pt;}
.y7{bottom:741.886698pt;}
.y1e{bottom:743.333333pt;}
.y3a{bottom:748.150696pt;}
.y18{bottom:752.553369pt;}
.y47{bottom:758.817366pt;}
.y6{bottom:769.484029pt;}
.y39{bottom:775.748030pt;}
.y17{bottom:780.150700pt;}
.y25{bottom:783.088036pt;}
.y16{bottom:807.748030pt;}
.y24{bottom:810.685366pt;}
.y38{bottom:814.012024pt;}
.y46{bottom:824.678691pt;}
.y15{bottom:835.345361pt;}
.y5{bottom:835.345367pt;}
.y23{bottom:838.282697pt;}
.y37{bottom:841.609365pt;}
.y45{bottom:852.276031pt;}
.y14{bottom:862.942702pt;}
.y22{bottom:865.880033pt;}
.y36{bottom:869.206696pt;}
.y44{bottom:879.873362pt;}
.y13{bottom:890.540033pt;}
.y21{bottom:893.477366pt;}
.y4{bottom:901.206696pt;}
.y12{bottom:918.137363pt;}
.y1f{bottom:921.074699pt;}
.y3{bottom:928.804026pt;}
.y35{bottom:935.068033pt;}
.y11{bottom:945.734699pt;}
.y2{bottom:956.401367pt;}
.y1{bottom:983.998698pt;}
.y0{bottom:1011.596032pt;}
.h4{height:30.264000pt;}
.h1{height:43.375000pt;}
.h2{height:44.468750pt;}
.h5{height:57.861333pt;}
.h3{height:174.000000pt;}
.h0{height:1122.533366pt;}
.w1{width:140.000000pt;}
.w3{width:172.466675pt;}
.w4{width:314.533325pt;}
.w2{width:644.933350pt;}
.w0{width:793.733317pt;}
.x4{left:8.533333pt;}
.x0{left:96.000000pt;}
.x3{left:107.510667pt;}
.x1{left:109.800001pt;}
.x7{left:120.000000pt;}
.x8{left:144.000000pt;}
.x6{left:169.299998pt;}
.x9{left:179.069331pt;}
.x5{left:264.466665pt;}
.x2{left:588.666667pt;}
}
